
<ng-container *ngIf="!isLoginRoute()">
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav mode="side" opened class="sidenav">
          <mat-nav-list>
            <a mat-list-item *ngFor="let item of sidebarItems" [routerLink]="item.route" routerLinkActive="active">
                <mat-icon>{{ item.icon }}</mat-icon>
                <span>{{ item.name }}</span>
              </a>
          </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
          <router-outlet></router-outlet>
        </mat-sidenav-content>
      </mat-sidenav-container>
  </ng-container>

  <ng-container *ngIf="isLoginRoute()">
    <router-outlet></router-outlet>
  </ng-container>

  