
<mat-table [dataSource]="professors" dir="rtl">
    <!-- ID Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>نام و نام خانوادگی</mat-header-cell>
      <mat-cell *matCellDef="let professor">{{ professor.name }}</mat-cell>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef>ایمیل</mat-header-cell>
      <mat-cell *matCellDef="let professor">{{ professor.email }}</mat-cell>
    </ng-container>
  
    <!-- Age Column -->
    <ng-container matColumnDef="phoneNumber">
      <mat-header-cell *matHeaderCellDef>شماره تماس</mat-header-cell>
      <mat-cell *matCellDef="let professor">{{ professor.phoneNumber }}</mat-cell>
    </ng-container>
  
    <!-- Column definitions -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <button mat-raised-button color="primary" (click)="openDialog()">Add New professor</button>

  